In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\rocks\Documents\file handling\Visadataset.csv"

In [3]:
visa_df=pd.read_csv(path)
visa_df.head(6)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified

In [4]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [5]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [6]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [7]:
len(visa_df['prevailing_wage'])

25480

In [8]:
visa_df['prevailing_wage'].count()

25480

In [9]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [10]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [11]:
visa_df['prevailing_wage'].mode()

0        100.66
1        102.70
2        105.96
3        108.12
4        109.06
5        110.51
6        111.11
7        113.60
8        118.43
9        122.65
10       127.89
11       134.15
12       138.76
13      6036.67
14     21894.51
15     24258.73
16     58770.05
17     60948.15
18     64357.58
19     74645.92
20     82560.28
21     87751.88
22     88664.77
23     93356.03
24    126813.75
25    149907.39
Name: prevailing_wage, dtype: float64

In [12]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

In [14]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

In [17]:
visa_df['prevailing_wage'].max()

319210.27

In [18]:
visa_df['prevailing_wage'].min()

2.1367

In [19]:
np.max(visa_df['prevailing_wage'])

319210.27

In [20]:
np.min(visa_df['prevailing_wage'])

2.1367

In [21]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [23]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)

l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
cols=['prevailing_wage']
index=['count','max','min','mean','median','std']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count          25480.00
max           319210.27
min                2.14
mean           74455.81
median         70308.21
std            52815.94

In [24]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

In [25]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996

In [27]:
con=visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [29]:
wage_50=np.percentile(visa_df['prevailing_wage'],50)
con=visa_df['prevailing_wage']<wage_50
len(visa_df[con])

12740

In [31]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
wage_25=np.percentile(visa_df['prevailing_wage'],25)
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_75=np.percentile(visa_df['prevailing_wage'],75)

l=[wage_count,wage_max,wage_min,
   wage_mean,wage_median,wage_std,
   wage_25,wage_50,wage_75]
cols=['prevailing_wage']
index=['count','max','min',
       'mean','median','std',
       '25%','50%','75%']
pd.DataFrame(1,columns=cols,index=index)

        prevailing_wage
count                 1
max                   1
min                   1
mean                  1
median                1
std                   1
25%                   1
50%                   1
75%                   1

In [32]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [ ]:
cols=visa_df.select_dtypes(exclude='object').columns
l=[]
for i in cols:
    count=round(visa_df[i].count(),2)
    maxx=round(visa_df[i].maxx(),2)
    minn=round(visa_df[i].minn(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)